<mat-card *ngFor="let blogentry of blogentries" class = "blogentry-cards">
        <mat-card-header>
            <mat-card-title>{{blogentry.title}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            {{blogentry.description}}
            {{blogentry.createDate}}
        </mat-card-content>
          <mat-expansion-panel (opened) = "loadComments(blogentry._id)" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                  Comments
              </mat-panel-title>
              <mat-panel-description> 
              </mat-panel-description>
            </mat-expansion-panel-header>
            <form (submit)="postComment(blogentry._id)" name = "commentForm">
                <mat-form-field>
                    <mat-label>Comment</mat-label>
                    <input matInput [(ngModel)]="commentText" name = "commentText">
                </mat-form-field>
                <button type = "submit" mat-raised-button color="primary">Post</button>
            </form>
            <p *ngFor="let comment of blogentry.comment" class="comments">
                <span (click)="deleteComment(comment._id)" class="material-icons">delete</span>
                {{comment.text}}
            </p>
          </mat-expansion-panel>

        
    </mat-card>
    <button mat-raised-button color="primary"(click)="goBack()">Back</button>
