<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="white" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name" routerLink="/dashboard">Travel Blog </h1>
    <div class="account-icon">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>account_box</mat-icon>
      </button>
    </div>
    <mat-menu  #menu="matMenu">
      <button *ngIf="isLoggedIn" mat-menu-item>
        <mat-icon > account_box</mat-icon>
        <a routerLink="/myAccount">My Account</a>
      </button>
      <button *ngIf="isLoggedIn" (click)="logout()" mat-menu-item>
        <mat-icon >logout</mat-icon>
        <a (click)="logout()">Logout </a>
      </button>
      <button *ngIf="!isLoggedIn" routerLink="/login" mat-menu-item>
        <mat-icon >login</mat-icon>
        <a>Login</a>
      </button>
      <button *ngIf="!isLoggedIn" routerLink="/register" mat-menu-item>
        <mat-icon > app_registration</mat-icon>
        <a>Register</a>
      </button>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <mat-nav-list>
          <a mat-list-item routerLink="/dashboard">Dashboard</a>
          <a mat-list-item routerLink="/blog">Blog</a>
        </mat-nav-list>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
