<div class="container" *ngIf="!isLoggedIn" novalidate> 
  <h1>Login</h1>
    <form [formGroup]="formGroup" class="form">
  
      <mat-form-field class="form-element">
        <input matInput placeholder="Username" formControlName="name">
        <mat-error *ngIf="!name.valid && name.touched">
        </mat-error>
      </mat-form-field>
  
      <mat-form-field class="form-element">
        <input matInput placeholder="Password" formControlName="password" [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="!formGroup.controls['password'].valid && formGroup.controls['password'].touched">
        </mat-error>
        
      </mat-form-field>
  
      <div class="form-element">
        <button mat-raised-button color="primary" class="button" [disabled]="!formGroup.valid" (click)="submit(formGroup.value)">Submit Form</button>
      </div>
    </form>
  </div>
  <div *ngIf="isLoggedIn">
    <my-account></my-account>
  </div>


<ng-template #forminfo>
    <div class="container">
      {{ post | json }}
    </div>
  </ng-template>