@import url(https://fonts.googleapis.com/css?family=Khula:700);

.dashboard-container {
  background-image: url("https://cdn.pixabay.com/photo/2017/01/20/00/30/maldives-1993704_1280.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hidden {
  opacity:0;
}
.console-container {

  font-family:Khula;
  font-size:4em;
  text-align:center;
  height:200px;
  width:600px;
  display:block;
  position:absolute;
  color:white;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  line-height: 50px;
}
.console-underscore {
  display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}

